<h2>cadastro</h2>
<div class="mdl-dialog__content">
    <div class="row">
        <div class="col-xs-12">
                <label>NOME</label>
                <input type="text" id="nome" >
        </div>
        <div class="col-xs-12">
                <label>CNPJ</label>
                <input type="text" id="cnpj" >
        </div>
        <div class="col-xs-12">
            <label>TELEFONE</label>
            <input type="text" id="telefone" >
        </div>
        <div class="col-xs-12">
            <label>ENDEREÇO</label>
            <input type="text" id="endereco" >
        </div>
        <div class="col-xs-12">
            <label>CUIDADE</label>
            <input type="text" id="cuidade" >
        </div>
        <div class="col-xs-12">
            <label>BAIRRO</label>
            <input type="text" id="bairro" >
        </div>
        <div class="col-xs-12">
            <label>CEP</label>
            <input type="text" id="cep" >
        </div>
        <div class="col-xs-12">
            <label>NUMERO</label>
            <input type="text" id="numero" >
        </div>
        <div class="col-xs-12">
            <label>EMAIL</label>
            <input type="text" id="email" >
        </div>
        <br>
        
        <div class="col-xs-12">
                <button class="nav-link" routerLink="/main">CADASTRAR</button> 
                <button routerLink="/cadastro">CANCELAR</button>
        </div>
    </div>
</div>   