<h2>hola mundo</h2>
<!DOCTYPE HTML>
<html>
	<head>
		<title>Personal Blog by Gridgum</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/main.css" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a> 
				<h1><strong>Empresa ###</strong><br />
				desenvolvimento <br />
                </h1>

				<section id="sidebar">
						<div class="inner">
							<nav>
								<ul class="menu">
									<li><a href="#one" class="page-scroll" routerLink="/mainEmp">inicio</a></li>
									<li><a href="#two" class="page-scroll" routerLink="/perfilEmp">Minha Empresa</a></li>
									<li><a href="#three" class="page-scroll" routerLink="/vagas">crear vagas</a></li>
									<li><a href="#four" class="page-scroll" routerLink="/evento">crear eventos</a></li>
								</ul>
							</nav>
						</div>
					</section>
			</header>

		<!-- Main -->
			<div id="main">

					<h2>Meu Perfil</h2><br>

				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Instituição</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">CNPJ</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Telefone</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Endereço</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">CEP</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Tipo de Empresa</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Complemento</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Numero</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Cuidade</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Barrio</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Email</span>
					<input type="text" class="form-control" placeholder="Nome" aria-describedby="sizing-addon1">
					</div>
				<br>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Descrição</span>
					</div>
				<br>
				<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                
			</div>

		<!-- Footer -->
			<footer id="footer">
				<!-- <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul> -->
				<!-- <ul class="copyright">
					<li>&copy; Gridgum</li><li> By <a href="http://gridgum.com">Gridgum</a></li>
				</ul> -->
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>