<div >
    <div >
        <div class="col-xs-12">
                <label>USUARIO</label>
                <input type="text" id="group" >
        </div>
        <div class="col-xs-12">
                <label>SENHA</label>
                <input type="text" id="group" >
        </div>
        <br>
        
        <div>
                <button class="btn btn-success" routerLink="/main">INGRESAR</button> 
                <button routerLink="/cadastro">CADASTRAR</button>
        </div>
    </div>
</div>    